$cc-dark-blue: #2d4161;
$cc-light-gray: #707a7f;
$cc-light-gray-2: #c5c5c5;
$cc-dark-gray: #454545;

.dropdown-list-language {
    width: 5rem !important;
}

.header-margin {
    margin-top: 7rem;
}

.progress-lg {
    height: 1rem;
}

.progress-oppose {
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background-color: #c80000;
    border-radius: 0.35rem;
}

.dark-blue {
    color: $cc-dark-blue;
}

.dark-blue-background {
    background-color: $cc-dark-blue;
}

.dark-blue-left-border {
    border-left: 0.25rem solid $cc-dark-blue !important;
}

.light-gray-background {
    background-color: $cc-light-gray;
}

.light-gray {
    color: $cc-light-gray;
}

.dark-gray {
    color: $cc-dark-gray;
}

.light-gray-2-bottom-border {
    border-bottom: 1px solid $cc-light-gray-2;
}

.gd-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.gd-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
}

.gd-r1 {
    grid-column: 1 / 3;
}

.gd-gap1 {
    column-gap: 2rem;
    row-gap: 1rem;
}

.fl-gap-1 {
    row-gap: 0.5rem;
}

.fl-gap-2 {
    row-gap: 1rem;
}

.fs-7 {
    font-size: 0.85rem !important;
}

.form-btn {
    max-width: 15%;
}

.dropdown-toggle {
    &::after {
        display: none !important;
    }
}

.border-radius1 {
    border-radius: 0.5rem;
}

.prf-avatar,
.prf-avatar-small {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.prf-avatar {
    border-radius: 2.5rem;
    width: 5rem;
    height: 5rem;
    margin-right: 0.5rem;
}

.prf-avatar-small {
    border-radius: 0.5rem;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
}

.wd-1 {
    max-width: 25%;
}

.dark-blue-avatar {
    background-image: linear-gradient(
            to right bottom,
            rgb(45, 63, 165),
            rgb(44, 72, 187),
            rgb(39, 81, 209),
            rgb(30, 90, 232),
            rgb(0, 100, 255)
    );
}

#custom-footer {
    margin-top: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.bg-lightgray-hover:hover {
    background-color: #f3f3f3;
}

@media (max-width: 1000px) {
    .side-background {
        display: none;
    }
}

@media (max-width: 573px) {
    #custom-footer {
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    #custom-footer-logo {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
}
