<ul class="navbar-nav sidebar sidebar-dark accordion"  id="accordionSidebar">
  <li>
    <a class="sidebar-brand d-flex align-items-center justify-content-center flex-column mt-3 mb-2" href="index.html">
      <div class="sidebar-brand-icon">
        <img src="/img/logo/blue-back-logo.png" alt="logo" width="48px" height="48px">
      </div>

      <div class="sidebar-brand-text mx-3 mt-2">BudgetMate</div>
    </a>

    <hr class="sidebar-divider my-0">
  </li>

  <li class="nav-item mt-2 bg-lightgray-hover">
    <a class="nav-link" href="/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <li class="nav-item mt-2 bg-lightgray-hover">
    <a class="nav-link" href="/records-history">
      <i class="fa fa-history" aria-hidden="true"></i>
      <span class="sidebar.recordHistory">Records History</span></a>
  </li>

  <li class="nav-item mt-2 bg-lightgray-hover">
    <a class="nav-link" href="/budgets">
      <i class="fa fa-star" aria-hidden="true"></i>
      <span class="sidebar.budgets">Budgets</span></a>
  </li>

  <li class="nav-item mt-2 bg-lightgray-hover">
    <a class="nav-link" href="/analytics">
      <i class="fa fa-chart-line"></i>
      <span>Analytics</span></a>
  </li>

  <li class="nav-item mt-2 bg-lightgray-hover">
    <a class="nav-link" href="/profile">
      <i class="fa fa-user" aria-hidden="true"></i>
      <span>Profile</span></a>
  </li>

  <li class="text-center d-none d-md-inline mt-4">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </li>
</ul>
