<div class="container-fluid">
  <h1 class="h3 mb-4 text-gray-800" id="budgetName"></h1>

  <div class="col-lg-12 d-flex flex-column">
    <div class="card mb-4 p-4" id="accountCard">
      <form id="updateBudgetForm" class="gd-1">
        <div class="form-group">
          <label for="updateBudgetName" class="d-flex flex-row align-items-start">
            <i class="fas fa-asterisk fa-xs" style="color: #f22626; font-size: 6px;"></i>
            <span class="name">Name</span>
          </label>
          <input type="text" class="form-control" id="updateBudgetName">
        </div>
        <div class="form-group">
          <label for="updateBudgetAmount" class="d-flex flex-row align-items-start">
            <i class="fas fa-asterisk fa-xs" style="color: #f22626; font-size: 6px;"></i>
            <span class="amount">Amount</span>
          </label>
          <input type="number" class="form-control" id="updateBudgetAmount">
        </div>
        <div class="gd-r1 form-group pb-2">
          <div class="dropdown">
            <button class="btn" type="button" id="updateBudgetRecordCategoriesDropdownButton" data-bs-toggle="dropdown">
              <span class="d-flex flex-row align-items-start">
                <i class="fas fa-asterisk fa-xs" style="color: #f22626; font-size: 6px;"></i>
                <span class="budget.recordCategories">Record Categories</span>
                <i class="fas fa-angle-down ml-2"></i>
              </span>
            </button>
            <div class="dropdown-menu overflow-scroll p-2" id="updateBudgetRecordCategoriesDropdown"></div>
          </div>
        </div>
        <div class="mt-2 d-flex flex-wrap fl-gap-2" id="budgetSelectedRecordCategories"></div>
        <div class="gd-r1 d-flex flex-row justify-content-between">
          <button id="submitBudgetButton" class="btn btn-primary btn-xl form-btn mb-3 mt-4" type="submit" form="updateBudgetForm">
            <span class="budget.save">Save</span>
          </button>
          <button id="deleteBudgetButton" class="btn btn-danger btn-xl form-btn mb-3 mt-4">
            <span class="budget.deleteBudget">Delete Budget</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>