@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local(''),
    url('../fonts/inter-v12-latin-300.woff2') format('woff2'),
    url('../fonts/inter-v12-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local(''),
    url('../fonts/inter-v12-latin-500.woff2') format('woff2'),
    url('../fonts/inter-v12-latin-500.woff') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local(''),
    url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
    url('../fonts/inter-v12-latin-700.woff') format('woff');
}

#index-page-intro-animation {
    background-image: url("../img/index-page/animation1.png");
}

@media (max-width: 991px) {
    #index-page-intro-animation {
      background: none;
    }

    .liner-gradient{
        background: linear-gradient(135deg, #f8f8f8 50%, var(--cc-dark-blue) 50%);
    }

    #animation2{
        display: none;
    }

    #animation3{
        display: none;
    }

    #blue-back-logo {
        width: 70%;
        margin: 0 auto 20px auto;
    }
}